<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menuId="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Imóveis para alugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="all">
    <ion-segment-button value="all">Todos</ion-segment-button>
    <ion-segment-button value="rent">Alugar</ion-segment-button>
    <ion-segment-button value="sell">Vender</ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="!isLoading">

  </ion-grid>
</ion-content>
