<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menuId="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Imóveis para alugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="all">
    <ion-segment-button value="all">Todos</ion-segment-button>
    <ion-segment-button value="rent">Alugar</ion-segment-button>
    <ion-segment-button value="sell">Vender</ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="!isLoading && housesLoaded && housesLoaded.length > 0">
          <ion-item-sliding *ngFor="let houses of housesLoaded">
            <ion-card>
              <ion-card-header>{{ houses.title }}</ion-card-header>
      
              <ion-list *ngFor="let imagePic of houses.images">
                <ion-img [src]="imagePic"></ion-img>
              </ion-list>  

            </ion-card>
          </ion-item-sliding>
        </ion-list>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
