<ion-header>
  <ion-toolbar color="primary" 
  style="justify-content: center;">

    <ion-buttons slot="start">
      <ion-menu-button menuId="first"></ion-menu-button>
    </ion-buttons>

    <ion-title>Encontrar Imóveis</ion-title>

    <ion-icon name="add-outline" class="add-offer" slot="end" routerLink="/houses/new-house"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="all" (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all">Todos</ion-segment-button>
    <ion-segment-button value="rent">Alugar</ion-segment-button>
    <ion-segment-button value="buy">Comprar</ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="housesLoadedShow && housesLoadedShow.length > 0">
          <ion-item-sliding *ngFor="let houses of housesLoadedShow">
            <ion-card>
              <ion-card-header class="ion-text-center"><ion-label class="title">{{ houses.title }}</ion-label><ion-icon [name]="houses.favorite === false ? 'heart-outline' : 'heart'" [style.color]="houses.favorite === false ? '' : 'red'" (click)="onFavoriteToggle(houses.offerKey)" class="favorite"></ion-icon></ion-card-header>              

              <ion-card-content>
                <app-slide [houses]="houses"></app-slide>
              </ion-card-content>

              <ion-buttons>

                <ion-label class="price">{{ houses.price | currency: 'BRL' }}</ion-label>

                <ion-button [routerLink]="['/', 'houses', 'offers', houses.userId, houses.offerKey]">
                  Mais detalhes
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>                
              </ion-buttons>

            </ion-card>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
