<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/houses"></ion-back-button>
    </ion-buttons>
    <ion-title>Anunciar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row style="margin-top: 15px;">
        <ion-col>
          <ion-label>Título do Anúncio:</ion-label>
          <ion-item class="offerTextInput">
            <ion-input type="text" formControlName="title" maxlength="35"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>Descrição do anúncio:</ion-label>
          <ion-item class="offerTextInput">
            <ion-textarea
              type="text"
              formControlName="description"
              rows="5"
              maxlength="500"
              placeholder="Descreva seu imóvel aqui."
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>Endereço</ion-label>
          <ion-item class="offerTextInput">
            <ion-input type="text" formControlName="location" maxlength="50"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-list>
            <ion-label>Tipo de contrato:</ion-label>
            <ion-radio-group
              (ionChange)="radioGroupChange($event)"
              formControlName="contract"
              #contract
            >
              <ion-item class="radio-buttons">
                <ion-label>Venda</ion-label>
                <ion-radio slot="start" value="sell"></ion-radio>
              </ion-item>

              <ion-item class="radio-buttons">
                <ion-label>Aluguel</ion-label>
                <ion-radio slot="start" value="rent"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>{{ contract.value === 'sell' ? 'Preço de venda: ' : 'Valor do aluguel: ' }}</ion-label>
          <ion-item class="offerTextInput">
            <ion-input placeholder="R$:"
            #price
            maxlength="11"
            formControlName="price"
            (keyup.enter)="maskPrice(price.value)"
            (ionBlur)="maskPrice(price.value)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-label>Adicionar Imagens:</ion-label>
        <ion-col>
          <ion-list class="image-row">
            <app-image-picker></app-image-picker>          
            <app-image-picker></app-image-picker>          
            <app-image-picker></app-image-picker>          
            <app-image-picker></app-image-picker>          
            <app-image-picker></app-image-picker>          
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>Telefone(s):</ion-label>
          <ion-list>
            <div>
              <ion-item class="offerTextInput">
                <ion-input
                  formControlName="contact"
                  #tel
                  maxlength="11"
                  (keyup.enter)="maskNumber(tel.value)"
                  (ionBlur)="maskNumber(tel.value)"
                  placeholder="(DDD) + Número"
                ></ion-input>
              </ion-item>
              <div class="whatsappBtn">
                <ion-checkbox
                  slot="start"
                  formControlName="whatsapp"
                  style="margin-right: 5px"
                ></ion-checkbox>
                <ion-label>Esse número possui whatsapp</ion-label>
              </div>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 35px;">
        <ion-col>
          <ion-buttons style="justify-content: center">
            <ion-button type="submit" (click)="onCreateOffer()" id="submitBTN"
              >Anunciar</ion-button
            >
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
