ion-row {
    margin-top: 50px;
}

.image-row {
    display: flex;
}

.offerTextInput {
    --background: #ebe7e7;
    border-radius: 5px;
    margin-top: 5px;
}

.radio-buttons {    
    --background-focused: var(--ion-color-primary);
    --ripple-color: var(--ion-color-primary);     
}

.whatsappBtn {
    display: flex;
    margin-top: 5px;
}

#submitBTN {
    background-color: var(--ion-color-primary);
    border-radius: 5px;
    color: #fff;
}