<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menuId="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Meus anúncios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let offer of offersLoaded">
      <ion-item>

        <ion-avatar slot="start">
          <img [src]="offer.images[0]">
        </ion-avatar>

        <ion-label>{{ offer.title }}</ion-label>

        <ion-buttons slot="end" (click)="OnDeleteOffer(offer.userId, offer.offerKey)">
          <ion-button>
            <ion-icon name="close-outline" slot="icon-only" style="color: red;"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
