<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">{{ isLogin ? 'Fazer Login' : 'Cadastre-se' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>

            <ion-item>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input
                type="email"
                ngModel
                name="email"
                required
                email
                #emailCtrl="ngModel"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Senha</ion-label>
              <ion-input
                type="password"
                ngModel
                name="password"
                required
                #passwordCtrl="ngModel"
                minlength="6"
              ></ion-input>
            </ion-item>

            <ion-button
              [disabled]="!f.valid"
              color="primary"
              expand="block"
              type="submit"
              routerLink="/"
            >{{ isLogin ? 'Entrar' : 'Cadastrar' }}</ion-button>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col id="signupPlace">
          <ion-label id="signup" (click)="onSignup()">{{ isLogin ? 'Cadastre-se' : 'Login' }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
