#signupPlace {
    display: flex;
    justify-content: center;
}

#signup {
    margin-top: 2em;
    color: var(--ion-color-primary);
    border-bottom: 2px solid var(--ion-color-primary);
    cursor: pointer;
}

