<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/houses"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Carregando...' : useOffer?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-grid *ngIf="!isLoading">

    <ion-row>
      <ion-col>
        <app-slide [houses]="useOffer"></app-slide>      
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 30px;">
      <ion-col class="description">
        <ion-label>📝 Descrição do imóvel:</ion-label>
        <ion-label class="description-text">{{ useOffer?.description }}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 30px;">
      <ion-col class="description">
        <ion-label>🏠 Endereço:</ion-label>
        <ion-label class="description-text">{{ useOffer?.location }}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 30px;">
      <ion-col class="contato">
        <ion-label>📞 Contato:</ion-label>
        <ion-label class="number">{{ telNum }}</ion-label>
        <ion-label class="zap-text" *ngIf="useOffer.whatsapp">Esse número possui whatsapp.</ion-label>
      </ion-col>
    </ion-row>

    <div class="whatsapp" *ngIf="useOffer.whatsapp">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </div>

  </ion-grid>
</ion-content>
